/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
}

html, body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

body {
    background: url("../img/attractions.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

div {
    min-height: 50px;
}

header {
    width: 100%;
    height: 10vh;
    background-color: white;
}

header img {
    height: 9vh;
    margin-top: -3vh;
    margin-left: 50px;
}

header h1 {
    display: inline-block;
    color: plum;
    margin: 0 1vw;
    font-size: 50px;
    font-weight: bold;
    line-height: 10vh;
}

header nav {
    float: right;
    width: 40vw;
    margin-top: 1.5vh;
}

header li {
    display: inline-block;
    line-height: 7.5vh;
    width: 30%;
    transition: all 1s;
}

header li:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

header a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: orchid;
    font-size: 20px;
}

header li:hover ul.attractions {
    display: block;
}

header ul.attractions {
    display: none;
    position: absolute;
    width: 12%;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.9);
}

header ul.attractions li {
    display: block;
    width: 100%;
}

#active {
    border-bottom: 3px solid orchid;
}

figcaption {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    height: 10vh;
    width: 100vw;
    padding: 2vh 5%;
}

footer p {
    display: inline-block;
    color: whitesmoke;
    font-weight: lighter;
}

footer a {
    float: right;
    text-decoration: none;
    color: whitesmoke;
    font-weight: lighter;
    line-height: 50px;
}

/* =============================================================================
   Page Styles
   ========================================================================== */

.landing {
    height: 90vh;
    background: url("../img/attractions.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.landing figcaption {
    background-image: url("../img/map-1.jpg");
    padding-top: 55vh;
    text-align: center;
}

.landing figcaption:before,
.landing figcaption:after {
    position: absolute;
    content: '';
}

.landing h2 {
    font-size: 50px;
    text-align: right;
    margin-right: 10%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-clip: text;
}

.landing h1 {
    font-size: 150px;
    text-align: right;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif, cursive;
    margin-top: -50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-clip: text;
}

.landing h3 {
    font-size: 40px;
    font-weight: normal;
    margin-top: 1%;
    padding-bottom: 1%;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.2);
}

.sites {
    background: url("../img/map.jpg") no-repeat bottom center;
    background-size: cover;
    height: 100vh;
}

.sites .wrapper {
    height: 100vh;
    padding: 2% 5%;
    display: block;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3))
}

.sites h2 {
    color: lavenderblush;
    text-align: right;
    margin-top: 5%;
    font-size: 35px;
}

.sites h1 {
    color: lavenderblush;
    text-align: right;
    font-size: 100px;
    margin-top: -2%;
}

.sites .major h2,
.sites .others h2 {
    color: lavenderblush;
    text-align: left;
    margin-top: 30px;
}

.sites ul {
    margin-top: 10%;
    /* border: 1px solid black; */
}

.sites li {
    display: inline-block;
    line-height: 100px;
    width: 100%;
    /* color: lavender; */
    font-size: 30px;
    transition: all 1s;
}

.sites .major li {
    width: 49%;
    text-align: center;
    font-size: 30px;
}

.sites a {
    text-decoration: none;
    color: lavender;
}

.sites li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.sites .wrapper div {
    margin-top: 0;
    padding-left: 5%;
}

.sites .others div {
    float: left;
    width: 25%;
    margin-top: 20px;
}

.sites .others li {
    display: block;
}

.sites h3 {
    color: lavender;
    font-size: 25px;
    height: 80px;
}

.site {
    height: 100vh;
    display: block;
    background: url("../img/attractions.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100vh;
    color: white;
    padding: 5% 10%;
}

.site.even {
    color: black;
    background: linear-gradient(white, white);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100vh;
}

.site h2 {
    color: lavenderblush;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
}

.site.odd h2 {
    background-color: rgba(0, 0, 0, 0.5);
    height: 95%;
    display: block;
}

.site.even h2 {
    color: rebeccapurple;
    background-color: rgba(221, 160, 221, 0.1);
    height: 95%;
}

.site p {
    font-size: 20px;
    padding: 1% 5%;
    display: block;
    margin-top: -43%;
}


.site table, tr, td{
    border-collapse: collapse;
    text-align: center;
    border: 3px solid plum;
    font-size: 18px;
}

.site table {
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    /* height: 250px; */
}

.site th, td {
    height: 40px;
}

.site a {
    text-decoration: none;
}

.site.even a {
    color: black;
}

.site.odd a {
    color: white;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {




}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/