/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Fredericka+the+Great|IBM+Plex+Serif:400,500,600,700i');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
}

html, body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

body {
    background: url("../img/map.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

div {
    min-height: 50px;
}

header {
    width: 100%;
    height: 10vh;
    background-color: white;
}

header img {
    height: 9vh;
    margin-top: -3vh;
    margin-left: 50px;
}

header h1 {
    display: inline-block;
    color: plum;
    margin: 0 1vw;
    font-size: 50px;
    font-weight: bold;
    line-height: 10vh;
}

header nav {
    float: right;
    width: 40vw;
    margin-top: 1.5vh;
}

header li {
    display: inline-block;
    line-height: 7.5vh;
    width: 30%;
    transition: all 1s;
}

header li:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

header a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: orchid;
    font-size: 20px;
}

header li:hover ul.attractions {
    display: block;
}

header ul.attractions {
    display: none;
    position: absolute;
    width: 12%;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.9);
}

header ul.attractions li {
    display: block;
    width: 100%;
}

#active {
    border-bottom: 3px solid orchid;
}

figcaption {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    height: 10vh;
    width: 100vw;
    padding: 2vh 5%;
}

footer p {
    display: inline-block;
    color: whitesmoke;
    font-weight: lighter;
}

footer a {
    float: right;
    text-decoration: none;
    color: whitesmoke;
    font-weight: lighter;
    line-height: 50px;
}

/* =============================================================================
   Page Styles
   ========================================================================== */

.map {
    height: 90vh;
    background: url("../img/japan-map.svg") no-repeat top 2.5vh right 4.5vw;
    background-color: transparent;
    background-size: cover;
    background-size: 65vh;
}

.map img {
    height: 85vh;
    position: absolute;
    right: 5vw;
    top: 12.5vh;
}

.map .background {
    height: 90vh;
    padding: 2% 5%;
    display: block;
    background-image: linear-gradient(to right, rgba(255,255,255,0.2), transparent, rgba(0,0,0,0.2));
}

.map figcaption {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, darkviolet, hotpink);
    position: relative;
    z-index: 5;
}

.map h2 {
    margin-top: 20vh;
    font-size: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-clip: text;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.map h1 {
    font-size: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-clip: text;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-top: -1%;
}

.map .icon {
    height: 85vh;
    width: 70vh;
    position: absolute;
    right: 5vw;
    top: 12.5vh;
    z-index: 5;
}

.map a {
    text-decoration: none;
}

.map div img {
    position: relative;
    height: 4vh;
}

#sapporo {
    top: 14vh;
    left: 50vh;
}

#sendai {
    top: 41vh;
    left: 46vh;
}

#kanazawa {
    top: 51vh;
    left: 26vh;
}

#tokyo {
    top: 52vh;
    left: 36vh;
}

#nagoya {
    top: 57vh;
    left: 20vh;
}

#kyoto {
    top: 59vh;
    left: 11vh;
}

#osaka {
    top: 62vh;
    left: 3vh;
}

#matsuyama {
    top: 69vh;
    left: -13vh;
}

#hiroshima {
    top: 65vh;
    left: -20vh;
}

#fukuoka {
    top: 69vh;
    left: -32vh;
}

#naha {
    top: 82vh;
    left: 23vh;
}

.sites {
    height: 200vh;
    background-color: whitesmoke;
    padding: 5% 10%;
}

.sites h1 {
    color: black;
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    font-size: 50px;
}

.sites p strong {
    color: plum;
    text-align: left;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2vh;
}

.sites .left,
.sites .right {
    float: left;
    width: 50%;
}

.sites li {
    text-align: left;
    display: inline-block;
    line-height: 40px;
    width: 100%;
    font-size: 22px;
    display:list-item;
    list-style-position: inside;    
    list-style-type: initial;
    transition: all 1s;
    color: black;
}

.sites a{
    text-decoration: none;
    color: black;
}

.sites p {
    color: black;
    font-size: 16px;
}

.sites .major li {
    width: 30%;
    text-align: center;
    font-size: 22px;
}

.sites li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.sites .wrapper div {
    margin-top: 0;
    padding-left: 5%;
}

/* .sites .box {
    position: absolute;
    transform: rotate(45deg);
    border: 1px solid black;
}

.sites .b1 {
    width: 60vh;
    height: 60vh;
    top: 70vh;
    right: 5vw;
    background-color: lavenderblush;
}

.sites .b2 {
    width: 60vh;
    height: 60vh;
    top: 178vh;
    left: 1vw;
    background-color: lavenderblush;
}

.sites .b3 {
    width: 75vh;
    height: 75vh;
    top: 150vh;
    right: -5vw;
    background-color: thistle;
}

.sites .b4 {
    width: 75vh;
    height: 75vh;
    top: 204vh;
    right: 25vw;
    background-color: thistle;
}

.sites .b5 {
    width: 90vh;
    height: 90vh;
    top: 99vh;
    left: 17vw;
    background-color: aliceblue;
} */


/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/