/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */

html, body {
    position: relative;
    overflow-x: hidden;
}

body {
    background: url("../img/index.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

nav {
    height: 10vh;
    font-size: 1vmax;
}

nav img {
    height: 9vmin;
    margin-left: 3vw;
}

nav h3 {
    display: inline-block;
    color: plum;
    margin-left: 2vw;
    font-size: 7vmin;
} 

.navbar-light .navbar-nav .nav-link {
    color: orchid;
    line-height: 3vh;
}

.navbar-light .navbar-nav .active .nav-link{
    color: orchid;
    line-height: 3vh;
}

.active {
    border-bottom: 3px solid orchid;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: orchid;
    line-height: 3vh;
}

.navbar-light .navbar-nav .show>.nav-link {
    color: orchid;
    line-height: 3vh;
}

.dropdown-menu {
    min-width: 10rem;
}

.dropdown-item {
    color: orchid;
    transition: all 1s;
    line-height: 3vh;
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

figcaption {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

footer {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 50vh;
    color: whitesmoke;
}

footer h1 {
    font-size: 8vmin;
    margin-top: 5vh;
    color: lavenderblush;
}

footer p {
    font-size: 1.5vmin;
    color: lavenderblush;
}

input[type="text"], input[type="email"] {
    height: 2.5vmax;
    width: 20vmax;
    background-color: transparent;
    font-size: 2vmin;
    color: lavenderblush;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid white;
}

input[type="text"]:focus, input[type="email"]:focus {
    background-color: transparent;
    font-size: 2.5vmin;
    color: lavenderblush;
}

footer button {
    height: 4vmax;
    width: 12vmax;
}

.btn {
    border-radius: 50px;
    font-size: 2vmin;
    background-color: rgba(0, 0, 0, 0.4);
    color: lavenderblush;
}

input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: lavenderblush;
}

input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder { /* Firefox 19+ */
    color: lavenderblush;
}

input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder { /* IE 10+ */
    color: lavenderblush;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
}

/* =============================================================================
   Page Styles
   ========================================================================== */

.landing {
    height: 90vh;
    /* z-index: -1; */
}

.landing div {
    border: 4vmax solid white;
    border-top: none;
    height: 100%;
    padding: 4vmax;
}

.landing #h2 {
    font-size: 4.5px;
    font-weight: 500;
}

.landing #h1 {
    font-size: 20px;
    font-weight: 600;
}

.landing #h3 {
    font-size: 3.5px;
    font-weight: 300;
}

.map {
    background: radial-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8));
    height: 100vh;
}

.map figcaption {
    padding-top: 30vh;
    position: relative;
    z-index: 5;
    background-image: linear-gradient(to right, purple, hotpink);
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-clip: text; */
}

.map h2 {
    font-size: 3.5vmin;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.map h1 {
    font-size: 11vmax;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-top: -1vh;
}

.map div {
    border-radius: 50px;
    height: 9vmin;
    width: 30vmin;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
    margin-top: 3vh;
    padding: 0.5vmin;
    transition: all 1s;
}

.map div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.map a {
    font-weight: 600;
    display: block;
    font-size: 2.5vmin;
    line-height: 7vmin;
    border: 0.4vmin solid plum;
    border-radius: 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-clip: text;
}

#map {
    position: absolute;
    right: -35vmin;
    top: 100vh;
    height: 100vh;
    mask-image: url("../img/japan-map.svg");
    mask-repeat: no-repeat;
    mask-position: 53%;
    -webkit-mask-image: url("../img/japan-map.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 53%;
}

.sites {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent), url("../img/attractions.jpg");
    background-position: bottom center;
    background-size: cover;
    height: 100vh;
}

.sites h2 {
    padding-top: 25vh;
    color: lavenderblush;
    font-size: 3.5vmin;
    font-weight: 300;
}

.sites h1 {
    color: lavenderblush;
    font-size: 7vmax;
    font-weight: 400;
    margin-top: -2vh;
}

.sites input, .sites button {
    height: 4.5vmax;
    margin-top: 5vh;
}

.sites input[type="search"] {
    font-size: 2vmax;
    font-weight: 300;
    color: lavenderblush;
}

.sites input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lavenderblush;
}

.sites input::-moz-placeholder { /* Firefox 19+ */
  color: lavenderblush;
}

.sites input:-ms-input-placeholder { /* IE 10+ */
  color: lavenderblush;
}

.sites input[type="search"], textarea {
    background-color: rgba(0, 0, 0, 0.2);
}

.sites button {
    background-color: rgba(0, 0, 0, 0.2);
    color: lavenderblush;
}

.sites span {
    font-size: 1.5vmax;
    transition: none;
}

.sites .cities {
    color: lavender;
    margin-top: 1vh;
    font-weight: 400;
    font-size: 2vmax;
}

.sites li {
    line-height: 3vh;
    font-size: 1.5vmax;
}

.sites a {
    color: lavender;
    font-weight: 300;
}

#suggest {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5vmax;
    font-weight: 200;
    color: lavender;
}

#sugest div {
    width: 100%;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/