@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Dancing+Script|Rock+Salt');

* {
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
}

html {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 16px;
    color: white;
    background: rgba(0, 0, 0, 0.85);
}

header {
    height: 100px;
    background: black;
}

header * {
    float: left;
}

header h1 {
    font-size: 40px;
    margin: 0 2.5% 0 10%;
    width: 20%;
    font-family: 'Rock Salt', cursive;
}

header nav {
    width: 35%;
    display: inline-block;
}

header ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

header li {
    display: inline-block;
    margin: 0px 5%;
    height: 100px;
    line-height: 100px;
}

header a {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: all 1s;
}

header a:hover {
    color: rgb(216, 175, 255);
}

header input {
    font-size: 24px;
    margin: 30px 10% 0px 2.5%;
    width: 20%;
}

header input:hover {
    color: darkgray;
}

#wrapper {
    background-color: rgba(0, 0, 0, 0.90);
    width: 80%;
    margin: 0 auto;
}

figure {
    height: 700px;
}

img {
    width: 100%;
}

figcaption {
    font-size: 160px;
    width: 100%;
    font-family: "Alex Brush", cursive;
    text-shadow: rgba(0, 0, 0, 0.95) 5px 5px 5px;
    line-height: 120px;
    position: relative;
    top: -90%;
    text-align: right;
}

#information {
    margin: 30px 0px;
    width: 100%;
}

.information {
    height: 280px;
    float: left;
    width: 50%;
    padding: 3%;
}

.information div {
    float: left;
    text-align: center;
    width: 500px;
}

#serves {
    font-size: 20px;
    background-color:rgba(255,255,255,0.15);
    height: 100px;
    margin-bottom: 10px;
}

#serves div {
    margin-top: 25px;
    width: 166px;
}

#nutrition {
    font-size: 14px;
    background-color:rgba(255,255,255,0.15);
    height: 70px;
    margin-top: 10px;
}

#nutrition div {
    margin-top: 15px;
    width: 125px;
}

blockquote p {
    margin-bottom: 10px;
    line-height: 25px;
    float: right;
}

#instructions {
    width: 100%;
    height: 1000px;
    border-top: 1px solid white;
}

.instruction {
    width: 50%;
    padding: 50px;
    float: left;
}

h2 {
    text-align: center;
    font-size: 100px;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
    margin: 50px;
}

.instruction ul, ol {
    padding: 0px 50px;
}

.instruction li {
    line-height: 25px;
}

.instruction ol li {
    padding: 5px 0px;
}

footer {
    background: rgba(0, 0, 0, 0.1);
    height: 100px;
    padding: 50px;
}

footer p {
    text-align: center;
    width: 100%;
}